Options +FollowSymlinks
RewriteEngine On

RewriteCond %{REQUEST_URI} !\.(css|jpg)$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^Recette(/.*)?$    /Recette.php    [QSA,L]

RewriteCond %{REQUEST_URI} !\.(css|jpg)$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^Note(/.*)?$    /Note.php    [QSA,L]

RewriteCond %{REQUEST_URI} !\.(css|jpg)$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^Etape(/.*)?$    /Etape.php    [QSA,L]

RewriteCond %{REQUEST_URI} !\.(css|jpg)$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^Ustensile(/.*)?$    /Ustensile.php    [QSA,L]

RewriteCond %{REQUEST_URI} !\.(css|jpg)$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^Ingredient(/.*)?$    /Ingredient.php    [QSA,L]